language: csharp
solution: src/KeePassWinHello.sln

addons:
  apt:
    packages:
      - openjdk-8-jdk
      - npm
      - unzip
  sonarcloud:
    organization: "sirandros-github"

jdk:
  - oraclejdk8

script:
  - sonar-scanner
  - wget https://sourceforge.net/projects/keepass/files/KeePass%202.x/2.42.1/KeePass-2.42.1.zip
  - unzip KeePass-2.42.1.zip -d lib
  - cd src
  - msbuild /p:Configuration=Release /p:DefineConstants="MONO" KeePassWinHello.sln
